# Hotel & Room Service
PORT=3002
NODE_ENV=development
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/hotel_rooms
CLIENT_URL=http://localhost:5173

# Clerk Authentication
CLERK_SECRET_KEY=sk_test_xxxxx

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Inter-service URLs
BOOKING_SERVICE_URL=http://localhost:3003
AUTH_SERVICE_URL=http://localhost:3001
